/* -------------------------------------- *
General Styles
* --------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #ffffff;
}

body {background-color: #F8B3BA}
h1 {
  color:rgba(255,255, 255, .50);
  font-size: 50px;
  font-family: 'Alfa Slab One', cursive;
}
header {
  border: 1px solid white;
  background-image: url(../images/solen-feyissa-LHWN4yEq5po-unsplash.jpg);
  background-size: cover;
  height: 75px;
}
h2,
h3 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #453D98;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #E3C5E0;
}
nav {
  background-color: white;
  padding: 12px;
}
fieldset {
  border:2px solid white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}
fieldset {
  margin-right: 900px;
  margin-top: 40px;
}
.thank {
  color:#453D98;;
  font-size: 50px;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
}

.h22 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #453D98;
}