@import url("https://use.typekit.net/nvs3oqg.css");
* {
  box-sizing: border-box;

}

@import url("https://use.typekit.net/nvs3oqg.css");
@font-face {
  font-family: 'postercompressed';
  src: url('fonts/PosterCompressed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}

/* Background Colors */

.orange {
  width: 100%;
  height: 3800px;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #FF6633;
  z-index: -300;
}

.purple {
  width: 100%;
  height: 4000px;
  margin-top: -200px;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #A92885;
  z-index: -200;
  
}

.blue {
  width: 100%;
  height: 5000px;
  margin-top: 300px;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #1100FC;
  z-index: -200;
}
.yellow {
  width: 100%;
  height: 2000px;
  margin-top: 300px;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #F7DE26;
  z-index: -200;
}
.red {
  width: 100%;
  height: 1500px;
  margin-top: 250px;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #FF1D26;
  z-index: -200;
  overflow: hidden !important;
}


/* Top */

.spiral {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 1200px;
  z-index: 200;

}

.spiralb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 200;
}

.title {
  font-family: 'postercompressed', sans-serif;
  font-size: 200px;
  color: #fff;
  position: absolute;
  text-align: center;
  z-index: 300;
}
.title{
  margin-top: 1800px;
}

.titleb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}






.title1 {
  font-family: 'blenny', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 600px;
  color: #fff;
  position: absolute;
  z-index: 300;
  margin-top: 450px;
  
}



#title1 {
  animation: title1 2s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
  }

  @keyframes title1 {
    from {
transform: translateY(0%);
    }
    from {
transform: translateY(20%);
    }
}




.q {
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.q:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



/* About */


.about {
  font-family: 'postercompressed', sans-serif;
  font-size: 200px;
  color: #3399CC;
  position: relative;
  text-align: center;
  margin-top: 380px;
  margin-left: 20px;
  margin-bottom: -20px;


}
.about {
  display: flex;
  
}

.ap {
  margin-top: -400px;
  margin-left: 20px;
}

p {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12pt;
  color: #fff;
  position: relative;
  padding-right: 20px;
}

h2 {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12pt;
  color: #fff;
  position: relative;
  padding-right: 40px;
}


/* History */

.pic1 {
  width: 49%;
display: inline-block;
z-index: 100;
position: relative;
}

.pic1b {
  width: 100%;
  margin: 0 auto;
  
  z-index: 100;
  position: relative;
}

.history {
  font-family: 'postercompressed', sans-serif;
  font-size: 200px;
  color: #FFF200;
  position: relative;
  margin-left: 5px;
  margin-top: -20px;
}

.history {
  display: flex;
  justify-content: center;
}

.historyb {
  position: relative;
  
  display: flex;
  justify-content: center;
}

.hmole {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  margin-top: -150px;
  margin-left: 15px;
}

.hp {
  margin: 20px;
}



/* Attractions */


.pic3 {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  z-index: 200;
  position: relative;
}

.pic4 {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 100;
  position: relative;
  
}

.hp {
  margin: 20px;
}

.atp {
  margin-top: 50px;
  margin-left: 20px;
}

.attraction {
  font-family: 'postercompressed', sans-serif;
  font-size: 150px;
  color: #FF1D26;
  position: relative;
  z-index: 100;
  margin-top: 10px;
}

.attraction {
display: flex;

}

.atb {
  position: relative;
  display: flex;
  margin-left: 20px;
  
}

.ha {
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  margin-left: 20px;
  margin-top: -100px;
}

h3 {
  text-transform: uppercase;
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12pt;
  color: #fff;
  position: relative;
  padding-right: 40px;
}
.at7{
  margin-top: 50px;
}



/* Safety */

.safety {
  font-family: 'postercompressed', sans-serif;
  font-size: 270px;
  color: #00CC00;
  position: relative;
  margin-top: -30px;
  margin-left: 20px;
  margin-bottom: -50px;
}

.safety1 {
  margin: 15px;
  columns: 2;
  column-gap: 1px;
}

.s1 {
margin-top: -15px;
}

.safety2 {
  margin-left: 15px;
}

.sh2 {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20pt;
  color: #fff;
  position: relative;
  padding-right: 40px;
}
.sp {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16pt;
  color: #fff;
  position: relative;
  padding-right: 20px;
}


/* Contact */

.cb {
  display: flex;
  flex-direction: column;
}
.cb2 {
  margin: 80px;
}

.contact {
  font-family: 'postercompressed', sans-serif;
  font-size: 200px;
  color: #A92885;
  position: relative;
  
  margin-top: -50px;
  margin-bottom: -100px;
}

.contact {
  display: flex;
  justify-content: center;
}

.contactb {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.c1 {
  text-align: center;
  
}

.c2 {
  text-align: center;
  
}

.c3 {
  text-align: center;
  
}

.c4 {
  text-align: center;
  
}






/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  float: right;
  top: 0;
  left: 0;
  z-index: 400;
  width: 70px;
  height: 70px;
  padding: 1rem;
  background: #FF00FF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
  background: #F7DE26;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 4px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
  background-color: #00FFFF;
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF00FF;
  
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  padding: 1rem;
}


.menu-wrap .menu > div > div > ul > li :hover
{
  list-style: none;
  color: #F7DE26;
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}














@media(min-width: 1220px) {
  .hp {
    columns: 3 !important;
    margin: 15px;
  }
  .atp {
    columns: 3 !important;
  
  }
  .ap {
    columns: 3 !important;
    }

  .attraction {
    font-family: 'postercompressed', sans-serif;
    font-size: 600px !important;
    margin-top: -100px;
    
  }
  .ha {
    margin-top: 650px !important;
  }
}


@media(min-width: 1220px) {

    /* background colors */

  
    .red {
      width: 100%;
      height: 2000px !important;
      margin-top: 300px;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: #FF1D26;
      z-index: -200;
      overflow: hidden !important;
    }




/* About */

  .about {
    font-family: 'postercompressed', sans-serif;
    font-size: 66vw !important;
    margin-top: -100px;
    margin-bottom: 10px;
    margin-right: 10px;
    
  }
 
  .ap {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 10px !important; 
  }

  .ap {
    display: flex;
    flex-direction: column;
    justify-self: flex-start
  }

.about {
  float: left;
  position: relative;
}

.ap1 {
  display: flex;
  flex-direction: row;
}

.about1 {
  margin-top: auto;
}


.ap2 {
  display: flex;
  flex-direction: row;
  float: left;
  width: 66%;
  margin-top: -170px;
}


/* History */

  .pic1 {
  width: 49%;
  display: inline-block;
  position: relative;
  }
  
  .pic1b {
    width: 100%;
    margin: 0 auto;
    margin-right: 20px;
  }

  .history {
    font-family: 'postercompressed', sans-serif;
    font-size: 800px;
    color: #FFF200;
    margin-left: 5px;
    
  }
  .history {
    display: flex;
    justify-content: center;
    
  }
  
  .historyb {
    position: relative;
    
    display: flex;
    justify-content: center;
  }

  .hmole {
    display: flex;
    justify-content: center;
    font-size: 50px;
    
    margin-left: 15px;
  }

.hp {
  columns: 3;
  margin: 15px;
  position: relative;
}

/* Attractions */

.atb {
  margin-top: -100px;
}


/* Safety */

.safety1 {
  margin-top: 100px !important;
}

.sh2 {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40pt;
  color: #fff;
  position: relative;
  padding-right: 40px;
}
.sp {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20pt;
  color: #fff;
  position: relative;
  padding-right: 20px;
}



/* Contact */

.cb {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact {
  font-family: 'postercompressed', sans-serif;
  font-size: 40vw;
  color: #A92885;
  position: relative;
  padding: 20px;

}

.c1 {
  text-align: justify !important;
  font-size: 16pt !important;
}

.c2 {
  text-align: justify !important; 
  font-size: 16pt !important;
}

.c3 {
  text-align: justify !important;
  font-size: 16pt !important;
}

.c4 {
  text-align: justify !important;
  font-size: 16pt !important;
}




}




@media(min-width: 815px) {


  /* background colors */

  .yellow {
    width: 100%;
    height: 2800px;
    margin-top: 300px;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #F7DE26;
    z-index: -200;
  }
  .red {
    width: 100%;
    height: 2000px;
    margin-top: 300px;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #FF1D26;
    z-index: -200;
    overflow: hidden !important;
  }



  .title {
    font-family: 'postercompressed', sans-serif;
    font-size: 20vw;
    color: #fff;
    position: absolute;
    text-align: center;
    z-index: 300;
  }

/* About */

  .about {
    font-family: 'postercompressed', sans-serif;
    font-size: 80vw;
  }
  .ap {
  columns: 2;
  }

  .ap {
    
    margin-left: 10px;
    margin-bottom: 60px;
    
  }

  .aboutb {
    column-span: all;
    margin-bottom: -20px;
  }


  /* History */

  .pic1 {
    width: 49%;
  display: inline-block;
  }
  
  .pic1b {
    width: 100%;
    margin: 0 auto;
  }

  .history {
    font-family: 'postercompressed', sans-serif;
    font-size: 600px;
    color: #FFF200;
    margin-left: 5px;
  
  
  }
  .history {
    display: flex;
    justify-content: center;
  }
  
  .historyb {
    position: relative;
    
    display: flex;
    justify-content: center;
  }

  .hp {
    columns: 2;
    margin: 15px;
  }
  
  .hmole {
    display: flex;
    justify-content: center;
    font-size: 40px;
  margin-top: -450px;
    margin-left: 15px;
  }





  /* Attractions */


  .atp {
    columns: 2;
  }
  .attraction {
    font-family: 'postercompressed', sans-serif;
    font-size: 380px;
    color: #FF1D26;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    margin-top: 10px;

}

.atp {
  margin-top: 100px;
  margin-left: 20px;


}

.ha {
  display: flex;
  justify-content: flex-start;
  font-size: 60px;
  margin-top: 500px;
  margin-left: 20px;;
}

h3 {
  text-transform: uppercase;
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12pt;
  color: #fff;
  position: relative;
  padding-right: 40px;
}


/* Safety */



.sb {
  display: flex;
  flex-direction: row;
}
.safety1 {
  margin-top: 70px;
  column-count: 1;
}

.safety {
  font-family: 'postercompressed', sans-serif;
  font-size: 60vw !important;
  color: #00CC00;
  position: relative;
  margin-top: -50px;
  margin-left: 20px;
  margin-bottom: -50px;
}

.sh2 {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25pt;
  color: #fff;
  position: relative;
  padding-right: 40px;
}
.sp {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18pt;
  color: #fff;
  position: relative;
  padding-right: 20px;
}


/* Contact */

.contact {
  font-family: 'postercompressed', sans-serif;
  font-size: 40vw !important;
  color: #A92885;
  position: relative;
  padding: 20px;

}

.c1 {
  text-align: center;
  font-size: 18pt;
}

.c2 {
  text-align: center;
  font-size: 18pt;
}

.c3 {
  text-align: center;
  font-size: 18pt;
}

.c4 {
  text-align: center;
  font-size: 18pt;
}


.q {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vw;
  margin-top: 100px;
}


}